<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>NLP | Understanding Technology</title>
  </head>
  <body>
    <header>
      <h1>NLP</h1>
      <h2>Understanding Technology</h2>
    </header>
    <main>
      <section>
        <form class="">
          <input
            id="input"
            type="text"
            name="input"
            value=""
            placeholder="Please enter a URL..."
          />
          <input type="submit" name="" value="Submit" id="submit-button" />
        </form>
      </section>
      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>
    <footer><p>By Veronica Perez</p></footer>
  </body>
</html>
